@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

/*************************
*******Typography******
**************************/

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
    line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
}

h1 {
    font-size: 36px;
/*    color: #fff;*/
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
}

img{
    max-width: 100%;
}

h4 {
    font-size: 16px;
}

a {
    color: #da251d;
    -webkit-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
    color: #da251d;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

.btn-primary {
    padding: 8px 20px;
    background: #da251d;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #da251d;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

.center h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.media>.pull-left {
    margin-right: 20px;
}

.media>.pull-right {
    margin-left: 20px;
}

body>section {
    padding: 70px 0;
}

.center {
    text-align: center;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.transparent-bg {
    background-color: transparent !important;
    margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.page-title{
    padding: 60px 0;
}

.page-title h1{
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 64px;
}

/*************************
*******Header******
**************************/

#header .search {
    display: inline-block;
}

.navbar>.container .navbar-brand {
    margin-left: 0;
}


.navbar-brand {
    padding: 0 0 20px 0;
    margin: 0;
    max-width: 60px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #1f1a17;
    padding: 15px 0;
    padding-bottom: 0;
}


.navbar-nav {
    margin-top: 15px;
    padding-left: 10px;
}

.navbar-nav>li {
    margin-left: 35px;
    padding-bottom: 28px;
}

.navbar-inverse .navbar-nav>li>a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
    font-weight: 300;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #da251d;
    color: #fff;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #da251d;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: #1f1a17;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
    position: absolute;
    top: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu>li>a {
    padding: 8px 15px;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:hover>a,
.navbar-inverse .navbar-nav .dropdown-menu>li:focus>a,
.navbar-inverse .navbar-nav .dropdown-menu>li.active>a {
    background-color: #da251d;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:last-child>a {
    border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu>li.divider {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}

/***********************
********* Footer ******
************************/
#welcome {
    background-image: linear-gradient(#666462, #fff);
    padding-bottom: 20px;
}

#welcome h1 {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}

#welcome h3 {
    font-size: 29px;
    font-weight: 700;
    color: #fff;
}

#welcome h6 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

#welcome .btn-slide {
    padding: 0 30px;
    line-height: 42px;
    background: #EC5538;
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #EC5538;
}


#welcome .animation.animated-item-1 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
}

#welcome .animation.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 600ms both;
    animation: fadeInUp 300ms linear 600ms both;
}

#welcome .animation.animated-item-3 {
    -webkit-animation: fadeInUp 300ms linear 900ms both;
    animation: fadeInUp 300ms linear 900ms both;
}


/***********************
********* Service ******
************************/

#service {
    padding: 1em;
}

#service .item {
    width: 250px;
}

#service .container .row {
    margin-left: 200px;
}

#service .service-wrap {
    margin: auto;
}

#service .service-wrap .item {
    margin: auto;
}

#service .service-wrap .icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    color: #D0D0D0;
    border: 1px solid #D0D0D0;
    font-size: 20px;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
    float: left;
    margin: auto;
}

#service .service-wrap:hover .icon {
    color: #ffffff;
    border: 1px solid #EC5538;
    background-color: #EC5538;
}

#service .service-wrap .capt h2 {
    color: #333;
    margin: 0;
    padding: 7px 0 0 0;
}

    @media (min-width: 992px) {
        
        #service .service-wrap h2 {
            font-size: 24px;
        }

    }


#service .animation.animated-item-4 {
    -webkit-animation: fadeInUp 300ms linear 1200ms both;
    animation: fadeInUp 300ms linear 1200ms both;
}

/***********************
********* Pic & Banner Slider ******
************************/
#main-sliders {
    background-image: linear-gradient(#fff, #fff, #e94840);
    padding-bottom: 5em;
}

#main-sliders .padding {
    padding: 5px;
}

#main-sliders .single-work {
    padding: 0;
}

#main-sliders .item {
    position: relative;
    overflow: hidden;
}

#main-sliders .item img {
    min-width: 100%;
    height: 500px;
}

#main-sliders .item .item-inner {
    top: 0;
    background: transparent;
    opacity: .8;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}

#main-sliders .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    vertical-align: middle;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    padding: 30px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#main-sliders .hrbanner .item  > img {
    width: 100%;
    height: auto;
}

#main-sliders .item .overlay .preview {
    color: #fff;
    height: 50px;
    width: 50px;
    background-color: #da251d;
    padding: 5px;
}

#main-sliders .item:hover .overlay {
    opacity: 1;
}


#main-sliders .hrbanner .item img {
    height: auto;
}




/***********************
********* Running Text ******
************************/
.running-text {
    margin: 0;
}
.marquee {

    width: 100%;
    background-color: #fff500;
    border-radius: 34px;
    line-height: 10px;
	color: #000000;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

}
.marquee p {
    
    display: inline-block;
    padding-top: 5px;
    animation: marquee 30s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/***********************
********* Featured-news ******
************************/

#featured-news{
    padding-top: 1em;
    background: linear-gradient(#e94840,#fff);
}

#featured-news h2{
    color: #fff;
    padding-bottom: 20px;
}

.post-slide{
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide .post-img{
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.post-slide .post-img .cat-badge {
    position: absolute;
    top: 8px;
    right: 16px;
}

.post-slide .label-warning {
    color: #000000;
    background-color: #fff500;
}

.post-slide .sbs-slide img{
    width: 100%;
    height: 400px;
    transform: scale(1);
    transition: all 1s ease-in-out 0s;
    overflow: hidden;
}

.post-slide .hrslide img{
    width: 100%;
    height: 200px;
    transform: scale(1);
    transition: all 1s ease-in-out 0s;
    overflow: hidden;
}
.post-slide:hover .post-img img{
    transform: scale(1.08);
}
.post-slide .post-content{
    background: #fff;
    padding: 20px;
}
.post-slide .post-title{
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
}
.post-slide .post-title a{
    display: inline-block;
    color: #808080;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    color: #3d3030;
    text-decoration: none;
}
.post-slide .post-description{
    font-size: 15px;
    color: #676767;
    line-height: 24px;
    margin-bottom: 14px;
}
.post-slide .post-bar{
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
}
.post-slide .post-bar li{
    color: #676767;
    padding: 2px 0;
}
.post-slide .post-bar li i{
    margin-right: 5px;
}
.post-slide .post-bar li a{
    display: inline-block;
    font-size: 12px;
    color: #808080;
    transition: all 0.3s ease 0s;
}
.post-slide .post-bar li a:after{
    content: ",";
}
.post-slide .post-bar li a:last-child:after{
    content: "";
}
.post-slide .post-bar li a:hover{
    color: #3d3030;
    text-decoration: none;
}
.post-slide .read-more{
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #e7989a;
    border-bottom-right-radius: 10px;
    text-transform: capitalize;
    transition: all 0.30s linear;
}
.post-slide .read-more:hover{
    background: #333;
    text-decoration: none;
}


/***********************
********* si-terpadu ******
************************/

#si-terpadu {
    background: linear-gradient(#fff, #fff);
}

#si-terpadu .center {    
    padding-bottom: 2em;
}

#si-terpadu .box {
    padding: 30px;
    margin-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
            box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 20px;
  }
  
   #si-terpadu .box .icon {
    padding: 20px auto 20px auto;
    font-size: 60px;
  }
  
   #si-terpadu .box .caption {
    padding: 0px 5px 0px 5px;
    font-weight: 200;
}
  
  #si-terpadu .box .caption h3 {
    margin: 0px 0px 5px 0px;
    
  }

   #si-terpadu .box .caption h2{
    margin: auto;
}

  #si-terpadu .box:hover {
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px rgba(243, 228, 11, 0.842);
            box-shadow: 0px 0px 30px rgba(243, 228, 11, 0.842);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
  }

/***********************
********* suara-anda ******
************************/
#suara-anda {
    background: linear-gradient( #fff, #fdf751, #fff500, #fdf751, #fff);
}

#suara-anda .center {
    padding-bottom: 2em;
}

#suara-anda .box {
    margin: auto;
    width: 500px;
    padding: 30px;
    margin-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
            box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 20px;
}

/***********************
********* Footers ******
************************/
#socmed {
    background-image: linear-gradient( #fff, #fff, #fff, #666462);
}

#socmed ul {
    display: flex;
    margin: 0;
    padding: 100px 0px 0px 0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#socmed li {
    list-style: none;
    margin: auto;

}

#socmed li .logo {
    height: 30px;
    margin-bottom: 20px;

}

#socmed li a {
    width: 80px;
    height: 80px;
    color: #da261d6b(0, 0, 0, 0.521);
    background: #da261d6b;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid;
}

#socmed li a:hover {
    background: #fff500;
}

#socmed ul li a .logo {
    padding-top: 10px;
    position: static;
    color: #fff;
    transition: .5s;
}

#socmed ul li a:hover .logo {
    transform: rotateY(360deg);
}



/*DESKTOP ONLY*/
    /*@media (min-width: 768px) and (max-width: 991px) {
        
        #socmed li a {
            width: 50px;
            height: 50px;
            color: #ACACAC;
            background: #ACACAC;
            text-align: auto;
            line-height: 40px;
            font-size: 25px;
            margin: 0 3.5em;
            display: block;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            border: 3px solid;
        }

    }*/



/***********************
********* Footers ******
************************/

.footer-logo{
    display: inline-block;
}
#bottom {
    background: #1f1a17;
    border-bottom: 5px solid #fff500;
    font-size: 14px;
}

#bottom .widget {
    border-top: 2px solid #fff500;
}
#bottom h3 {
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #da251d;
    font-weight: 700;
}

#bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#bottom ul li {
    display: block;
    padding: 4px 0;
    color: #fff;
}

#bottom ul li a {
    color: #fff;
    font-weight: 300;
}

#bottom ul li a:hover {
    color: #da251d;
}

#bottom .widget {
    margin-bottom: 0;
    padding-left: 15px;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #1f1a17;
    font-weight: 300;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #da251d;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul>li {
    display: inline-block;
    margin-left: 15px;
}


/***********************
********* pemerintahan ******
************************/

.nav-tabs>li {
    margin-bottom: 0px;
    border-bottom: 0px solid #e6e6e6;
  }
      /* margin-bottom: 0px;
      border: 1px solid transparent;
  }*/
  
  .nav-tabs{
    border-bottom: transparent;
    border-right: 0px solid #e6e6e6;
  }
  
  .nav-tabs>li>a {
    background: #f5f5f5;
    color: #666;
    border-radius: 0;
    border: 0 none;
    line-height: 24px;
    margin-right:0;
    padding: 13px 15px;
  }
  
  .nav-tabs li:last-child{
    border-bottom: 0 none;
  } 
  
  .nav-stacked>li+li{
    margin-top: 0;
  }
  
  .nav-tabs>li>a:hover{
    background: #1f1f20;
    color: grey;
  }
  
  .nav-tabs>li.active>a, 
  /*.nav-tabs>li.active>a:hover,*/
  .nav-tabs>li.active>a:focus {
    border: 0;
    color:#000;
    background: #c52d2f; /*#1f1f20*/ 
    position: relative;
  }
  
  .nav-tabs>li.active>a:after {
    position: absolute;
    content:  "";
    width: auto;
    height: auto;
    border-style:solid;
    border-color: transparent transparent transparent #c52d2f;
    border-width: 25px 22px;
    right: -44px;
    top:0;
  }
              /*
              .nav-tabs {
                  border: none;
              }
  
              .nav-tabs>li>a {
                  color: #666;
                  border-radius: 0;
                  border: 1px solid transparent;
                  line-height: 24px;
                  margin-right: 0;
                  padding: 13px 30px;
              }
              .nav-tabs>li>a:hover{
                  background-color: transparent;
                  border-color: transparent;
              }
  
              .nav-tabs li:last-child {
                  border-bottom: 0 none;
              }
  
              .nav-stacked>li+li {
                  margin-top: 0;
              }*/
  
              /*#content .nav-tabs>li.active>a,
              #content .nav-tabs>li.active>a:hover,
              #content .nav-tabs>li.active>a:focus {
                  color: #EC5538;
                  background-color: #c52d2f; /*#F9FAFB;*/
             /*    border: 1px solid #E9EFF4;
                  font-weight: 500;
                  -webkit-transition: .4s;
                  transition: .4s;
                  border-radius: 5px;
              }*/
  
  #content .tab-pane{
      padding-left: 100px;
      padding-bottom: 10px;
  }

/***********************
********* selayang-pandang ******
************************/

.header-selayang  {
    margin-top: -70px;

}

.header-selayang h1 {
    font-size: 50px;
    margin-top: 80px;
}

.header-selayang .jumbotron {
    height: 324px;
    background-size: cover;
    color: white;
}

/* Visi dan Misi */

.visi h1 {
    font-size: 40px;
    
}

.visi .jumbotron {
    background: none;

}

.misi {
    margin-top: 30px;
}


.misi .misi-wrap {
    margin-bottom: 35px;
    padding-right: 50px;
}

.misi .misi-wrap .logo {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    color: #ff1a1a;
    
    font-size: 5.8rem;
    
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom: 30px;
    margin-top: -5px;
    margin-right: 40px;
    float: left;
}


.misi .misi-wrap h2 {
    font-size: 14px;
    color: #333;
    margin: 0;
    margin-bottom: 24px;

}
.misi .misi-wrap p {
    font-size: 20px;
    margin: 0;
    line-height: 26px;
    color: #707070;
}

.nawa-cita {
    margin-top: 50px;
}

/* Akhir Visi Misi*/

/* Sejarah */
.quotes {
    margin-top: 50px;
}

.quotes .display-4 {
    font-size: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 270px;
}

.quotes .jumbotron {
    height: 820px;
    background: none;
}

/*tentang minahasa*/
.tentang-minahasa .tombol {
    margin-top: 20px;

}

.tentang-minahasa span {
    font-size: 40px;
    font-weight: 500;
}

.tentang-minahasa p {
    font-size: 15px;
    
}

.tentang-minahasa .tentang-minahasa-info {
    margin-top: 50px;
    
}

#lebih-lanjut1 {
    margin-top: 50px;
}

#lebih-lanjut2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#lebih-lanjut1 p {
    margin-top: 50px;
}

#lebih-lanjut2 p {
    margin-top: 50px;
}
 
 /*fact panel 1 */
/*#fact-panel1 .info {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    
    margin-top: 10px;
    background-color: white;
}

#fact-panel1 .info img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#fact-panel1 .info h3 {
    
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

#fact-panel1 .info p {
    font-size: 18px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200;*/


/*Akhir Sejarah*/

/* Peta dan Topografi */

.info-peta h1 {
    font-size: 40px;
    
}

.info-peta .jumbotron {
    background: none;

}

/*Ahir Peta dan Topografi */


/*Lambang dan Arti*/
.arti-lambang .arti-title {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1;
}

.arti-lambang .arti-deskripsi {
    font-size: 17px;
    line-height: 1.5;
    padding-bottom: 20px;
    
}

/*************************
********* Contact Us CSS ******
**************************/

#page-suara-anda {
    padding-top: 0;
}

#page-suara-anda .page-title{
    margin: auto;
    background-image: linear-gradient(#d6625b, #fff);
    padding-top: 50px;
}

#page-suara-anda .contact-form .form-group label {
    color: #989898;
    font-size: 16px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

#page-suara-anda .form-group .form-control {
    padding: 0 12px;
    border-color: #e59f9b3b;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;
}

#page-suara-anda .form-group textarea.form-control{
    height: 200px;
}

#page-suara-anda .form-group button{
    font-size: 15px;
    padding: 15px 30px;
}

textarea#message {
    resize: none;
    padding: 10px;
}

#page-suara-anda .contact-wrap {

}

#page-suara-anda .box {
    margin: auto;
    width: 80%;
    padding: 30px;
    margin-bottom: 40px;
    background-color: rgb(241, 194, 194);
    -webkit-box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
            box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 20px;
}

/*************************
********* galeri CSS ******
**************************/

#galeri{
    margin: auto;
}

#galeri .page-title{
    padding: 0;

}

#galeri .page-title h1{
    color: #da251d;
    padding: 0;

}

.galeri-items,
.galeri-filter {
    list-style: none outside none;
    margin: 0 0 40px 0;
    padding: 20px 0 0 0;
}

.galeri-filter>li {
    display: inline-block;
}

.galeri-filter>li a {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
    text-transform: uppercase;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    border: 1px solid #F2F2F2;
    outline: none;
    border-radius: 3px;
}

.galeri-filter>li a:hover,
.galeri-filter>li a.active {
    color: #fff;
    background: #EC5538;
    border: 1px solid #EC5538;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.galeri-items>li {
    float: left;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.galeri-item {
    margin: 0;
    padding: 0;
}


#galeri .recent-work-wrap {
    position: relative;
    overflow: hidden;
}

#galeri .recent-work-wrap img {
    width: 100%;
}

#galeri .recent-work-wrap .recent-work-inner {
    top: 0;
    background: transparent;
    opacity: .8;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}

#galeri .recent-work-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    vertical-align: middle;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    padding: 30px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#galeri .recent-work-wrap .overlay .preview {
    color: #fff;
    height: 50px;
    width: 50px;
    background-color: #da251d;
    padding: 5px;
}

#galeri .recent-work-wrap:hover .overlay {
    opacity: 1;
}

/* Start: Recommended Isotope styles */


/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}


/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}


/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}


/* End: Recommended Isotope styles */


/* disable CSS transitions for containers with infinite scrolling*/

.isotope.infinite-scrolling {
    -webkit-transition: none;
    transition: none;
}


/*************************
********* Berita css ******
**************************/

#berita .item {
    position: relative;
    overflow: hidden;
}

#berita .item img {
    width: 100%;
    height: auto;
}


/*********************
****blog page css*****
**********************/

.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#c52d2f;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #c52d2f;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #c52d2f;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h3 {
  color: #858586;
  margin-bottom: 40px;
  /* font-weight: 300 */}

.blog .blog-item .blog-content h4 {
  font-size: 14px;
}

.post-tags {

}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  background: #c52d2f;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
  background-color: #c52d2f !important;
  border-color: #c52d2f !important;
  color: #fff;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}


ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#c52d2f;
  color: #fff;  
}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}

/* ----------------------------------------------------------------
    Widgets
-----------------------------------------------------------------*/


.widget {
    position: relative;
    margin-top: 50px;
}

.sidebar-widgets-wrap .widget {
    padding-top: 50px;
    border-top: 1px solid #EEE;
}

.widget:first-child { margin-top: 0; }

.sidebar-widgets-wrap .widget:first-child {
    padding-top: 0;
    border-top: 0;
}

.widget > h4 {
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar-widgets-wrap .widget > h4 { letter-spacing: 1px; }

.widget p:not(.lead) { font-size: 14px; }

/* ----------------------------------------------------------------
    Styled Icons
-----------------------------------------------------------------*/


.i-rounded,
.i-plain,
.i-circled,
.i-bordered,
.social-icon {
    display: block;
    float: left;
    margin: 4px 11px 7px 0;
    text-align: center !important;
    font-size: 28px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    cursor: pointer;
    font-style: normal;
}

body:not(.device-touch) .i-rounded,
body:not(.device-touch) .i-plain,
body:not(.device-touch) .i-circled,
body:not(.device-touch) .i-bordered,
body:not(.device-touch) .social-icon {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.i-rounded,
.i-circled,
.i-bordered {
    width: 52px !important;
    height: 52px !important;
    line-height: 52px !important;
    background-color: #444;
    border-radius: 3px;
}

.i-bordered {
    border: 1px solid #555;
    line-height: 50px !important;
    background-color: transparent !important;
    color: #444;
    text-shadow: none;
}

.i-plain {
    width: 36px !important;
    height: 36px !important;
    font-size: 28px;
    line-height: 36px !important;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
}

.i-plain:hover { color: #777; }

.i-circled { border-radius: 50%; }

.i-light {
    background-color: #F5F5F5;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}

.i-alt {
    background-image: url('../images/icons/iconalt.svg');
    background-position: center center;
    background-size: 100% 100%;
}


.i-rounded:hover,
.i-circled:hover {
    background-color: #1ABC9C;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
}

.i-bordered:hover {
    background-color: #444 !important;
    color: #FFF;
    border-color: #444;
}


/* Icon Size - Small
-----------------------------------------------------------------*/

.i-small.i-rounded,
.i-small.i-plain,
.i-small.i-circled,
.i-small.i-bordered {
    margin: 4px 11px 7px 0;
    font-size: 14px;
}

.i-small.i-rounded,
.i-small.i-circled,
.i-small.i-bordered {
    width: 28px !important;
    height: 28px !important;
    line-height: 28px !important;
}

.i-small.i-bordered { line-height: 26px !important; }

.i-small.i-plain {
    width: 18px !important;
    height: 18px !important;
    font-size: 14px;
    line-height: 18px !important;
}


/* Icon Size - Small
-----------------------------------------------------------------*/

.i-medium.i-rounded,
.i-medium.i-plain,
.i-medium.i-circled,
.i-medium.i-bordered {
    margin: 6px 13px 9px 0;
    font-size: 21px;
}

.i-medium.i-rounded,
.i-medium.i-circled,
.i-medium.i-bordered {
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
}

.i-medium.i-bordered { line-height: 34px !important; }

.i-medium.i-plain {
    width: 28px !important;
    height: 28px !important;
    font-size: 20px;
    line-height: 28px !important;
}


/* Icon Size - Large
-----------------------------------------------------------------*/

.i-large.i-rounded,
.i-large.i-plain,
.i-large.i-circled,
.i-large.i-bordered {
    margin: 4px 11px 7px 0;
    font-size: 42px;
}

.i-large.i-rounded,
.i-large.i-circled,
.i-large.i-bordered {
    width: 64px !important;
    height: 64px !important;
    line-height: 64px !important;
}

.i-large.i-bordered { line-height: 62px !important; }

.i-large.i-plain {
    width: 48px !important;
    height: 48px !important;
    font-size: 42px;
    line-height: 48px !important;
}


/* Icon Size - Extra Large
-----------------------------------------------------------------*/

.i-xlarge.i-rounded,
.i-xlarge.i-plain,
.i-xlarge.i-circled,
.i-xlarge.i-bordered {
    margin: 4px 11px 7px 0;
    font-size: 56px;
}

.i-xlarge.i-rounded,
.i-xlarge.i-circled,
.i-xlarge.i-bordered {
    width: 84px !important;
    height: 84px !important;
    line-height: 84px !important;
}

.i-xlarge.i-bordered { line-height: 82px !important; }

.i-xlarge.i-plain {
    width: 64px !important;
    height: 64px !important;
    font-size: 56px;
    line-height: 64px !important;
}


/* Icon Size - Extra Extra Large
-----------------------------------------------------------------*/

.i-xxlarge.i-rounded,
.i-xxlarge.i-plain,
.i-xxlarge.i-circled,
.i-xxlarge.i-bordered {
    margin: 6px 15px 10px 0;
    font-size: 64px;
}

.i-xxlarge.i-rounded,
.i-xxlarge.i-circled,
.i-xxlarge.i-bordered {
    width: 96px !important;
    height: 96px !important;
    line-height: 96px !important;
}

.i-xxlarge.i-bordered { line-height: 94px !important; }

.i-xxlarge.i-plain {
    width: 80px !important;
    height: 80px !important;
    font-size: 64px;
    line-height: 80px !important;
}


/* ----------------------------------------------------------------
    Icon Overlay
-----------------------------------------------------------------*/

.i-overlay,
.i-overlay a {
    display: block;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0,0,0,0.2) url('../images/grid.png') repeat;
}

.i-overlay a { background: transparent; }

.i-overlay img,
.i-overlay i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    width: 48px !important;
    height: 48px !important;
    font-size: 48px;
    line-height: 1;
    color: #E5E5E5;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.i-overlay i {
    margin: -18px 0 0 -18px;
    width: 36px !important;
    height: 36px !important;
    line-height: 36px;
    font-size: 24px;
}

.on-hover.i-overlay { opacity: 0; }

body:not(.device-touch) .on-hover.i-overlay {
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.on-hover.i-overlay:hover { opacity: 1; }


/* ----------------------------------------------------------------
    Social Icons
-----------------------------------------------------------------*/


.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px !important;
    color: #555;
    text-shadow: none;
    border: 1px solid #AAA;
    border-radius: 3px;
    overflow: hidden;
}


/* Social Icons - Rounded
-----------------------------------------------------------------*/

.si-rounded { border-radius: 50%; }

/* Social Icons - Borderless
-----------------------------------------------------------------*/

.si-borderless { border-color: transparent !important; }

/* Social Icons - Dark
-----------------------------------------------------------------*/

.si-dark {
    background-color: #444;
    color: #FFF !important;
    border-color: transparent;
}

/* Social Icons - Light
-----------------------------------------------------------------*/

.si-light {
    background-color: rgba(0,0,0,0.05);
    color: #666 !important;
    border-color: transparent;
}

/* Social Icons - Colored
-----------------------------------------------------------------*/

.si-colored { border-color: transparent !important; }

.si-colored i { color: #FFF; }

/* Social Icons - Large
-----------------------------------------------------------------*/

.social-icon.si-large {
    margin: 0 10px 10px 0;
    width: 56px;
    height: 56px;
    font-size: 30px;
    line-height: 54px !important;
}

/* Social Icons - Small
-----------------------------------------------------------------*/

.social-icon.si-small {
    width: 32px;
    height: 32px;
    font-size: 14px;
    line-height: 30px !important;
}

.social-icon i {
    display: block;
    position: relative;
}

body:not(.device-touch) .social-icon i {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.social-icon i:last-child { color: #FFF !important; }

.social-icon:hover i:first-child { margin-top: -38px; }

.social-icon.si-large:hover i:first-child { margin-top: -54px; }

.social-icon.si-small:hover i:first-child { margin-top: -30px; }

.social-icon:hover {
    color: #555;
    border-color: transparent;
}

.si-colored.social-icon { border-color: transparent; }

/* Social Icons - Sticky
-----------------------------------------------------------------*/

.si-sticky {
    position: fixed;
    top: 50%;
    left: 5px;
    width: 36px;
    z-index: 100;
}

/* Social Icons - Sticky Right
-----------------------------------------------------------------*/

.si-sticky.si-sticky-right {
    left: auto;
    right: 8px;
}

/* Social Icons - Share
-----------------------------------------------------------------*/

.si-share {
    position: relative;
    padding-left: 5px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.si-share span {
    line-height: 36px;
    font-weight: bold;
    font-size: 13px;
}

.si-share div { float: right; }

.si-share .social-icon {
    margin: -1px 0;
    border-radius: 0;
    font-size: 15px;
}

.si-facebook:hover,
.si-colored.si-facebook { background-color: #3B5998 !important; }
.si-delicious:hover,
.si-colored.si-delicious { background-color: #205CC0 !important; }
.si-paypal:hover,
.si-colored.si-paypal { background-color: #00588B !important; }
.si-flattr:hover,
.si-colored.si-flattr { background-color: #F67C1A !important; }
.si-android:hover,
.si-colored.si-android { background-color: #A4C639 !important; }
.si-smashmag:hover,
.si-colored.si-smashmag { background-color: #E53B2C !important; }
.si-gplus:hover,
.si-colored.si-gplus { background-color: #DD4B39 !important; }
.si-wikipedia:hover,
.si-colored.si-wikipedia { background-color: #333 !important; }
.si-stumbleupon:hover,
.si-colored.si-stumbleupon { background-color: #F74425 !important; }
.si-foursquare:hover,
.si-colored.si-foursquare { background-color: #25A0CA !important; }
.si-call:hover,
.si-colored.si-call { background-color: #444 !important; }
.si-ninetyninedesigns:hover,
.si-colored.si-ninetyninedesigns { background-color: #F26739 !important; }
.si-forrst:hover,
.si-colored.si-forrst { background-color: #5B9A68 !important; }
.si-digg:hover,
.si-colored.si-digg { background-color: #191919 !important; }
.si-spotify:hover,
.si-colored.si-spotify { background-color: #81B71A !important; }
.si-reddit:hover,
.si-colored.si-reddit { background-color: #C6C6C6 !important; }
.si-blogger:hover,
.si-colored.si-blogger { background-color: #FC4F08 !important; }
.si-cc:hover,
.si-colored.si-cc { background-color: #688527 !important; }
.si-dribbble:hover,
.si-colored.si-dribbble { background-color: #EA4C89 !important; }
.si-evernote:hover,
.si-colored.si-evernote { background-color: #5BA525 !important; }
.si-flickr:hover,
.si-colored.si-flickr { background-color: #FF0084 !important; }
.si-google:hover,
.si-colored.si-google { background-color: #DD4B39 !important; }
.si-instapaper:hover,
.si-colored.si-instapaper { background-color: #333 !important; }
.si-klout:hover,
.si-colored.si-klout { background-color: #FF5F52 !important; }
.si-linkedin:hover,
.si-colored.si-linkedin { background-color: #0E76A8 !important; }
.si-vk:hover,
.si-colored.si-vk { background-color: #2B587A !important; }
.si-rss:hover,
.si-colored.si-rss { background-color: #EE802F !important; }
.si-skype:hover,
.si-colored.si-skype { background-color: #00AFF0 !important; }
.si-twitter:hover,
.si-colored.si-twitter { background-color: #00ACEE !important; }
.si-youtube:hover,
.si-colored.si-youtube { background-color: #C4302B !important; }
.si-vimeo:hover,
.si-colored.si-vimeo { background-color: #86C9EF !important; }
.si-aim:hover,
.si-colored.si-aim { background-color: #FCD20B !important; }
.si-yahoo:hover,
.si-colored.si-yahoo { background-color: #720E9E !important; }
.si-email3:hover,
.si-colored.si-email3 { background-color: #6567A5 !important; }
.si-macstore:hover,
.si-colored.si-macstore { background-color: #333333 !important; }
.si-myspace:hover,
.si-colored.si-myspace { background-color: #666666 !important; }
.si-podcast:hover,
.si-colored.si-podcast { background-color: #E4B21B !important; }
.si-cloudapp:hover,
.si-colored.si-cloudapp { background-color: #525557 !important; }
.si-dropbox:hover,
.si-colored.si-dropbox { background-color: #3D9AE8 !important; }
.si-ebay:hover,
.si-colored.si-ebay { background-color: #89C507 !important; }
.si-github:hover,
.si-colored.si-github { background-color: #171515 !important; }
.si-googleplay:hover,
.si-colored.si-googleplay { background-color: #DD4B39 !important; }
.si-itunes:hover,
.si-colored.si-itunes { background-color: #222 !important; }
.si-plurk:hover,
.si-colored.si-plurk { background-color: #CF5A00 !important; }
.si-pinboard:hover,
.si-colored.si-pinboard { background-color: #0000E6 !important; }
.si-soundcloud:hover,
.si-colored.si-soundcloud { background-color: #FF7700 !important; }
.si-tumblr:hover,
.si-colored.si-tumblr { background-color: #34526F !important; }
.si-wordpress:hover,
.si-colored.si-wordpress { background-color: #1E8CBE !important; }
.si-yelp:hover,
.si-colored.si-yelp { background-color: #C41200 !important; }
.si-intensedebate:hover,
.si-colored.si-intensedebate { background-color: #009EE4 !important; }
.si-eventbrite:hover,
.si-colored.si-eventbrite { background-color: #F16924 !important; }
.si-scribd:hover,
.si-colored.si-scribd { background-color: #666666 !important; }
.si-stripe:hover,
.si-colored.si-stripe { background-color: #008CDD !important; }
.si-print:hover,
.si-colored.si-print { background-color: #111 !important; }
.si-dwolla:hover,
.si-colored.si-dwolla { background-color: #FF5C03 !important; }
.si-statusnet:hover,
.si-colored.si-statusnet { background-color: #131A30 !important; }
.si-acrobat:hover,
.si-colored.si-acrobat { background-color: #D3222A !important; }
.si-drupal:hover,
.si-colored.si-drupal { background-color: #27537A !important; }
.si-buffer:hover,
.si-colored.si-buffer { background-color: #333333 !important; }
.si-pocket:hover,
.si-colored.si-pocket { background-color: #EE4056 !important; }
.si-bitbucket:hover,
.si-colored.si-bitbucket { background-color: #0E4984 !important; }
.si-stackoverflow:hover,
.si-colored.si-stackoverflow { background-color: #EF8236 !important; }
.si-hackernews:hover,
.si-colored.si-hackernews { background-color: #FF6600 !important; }
.si-xing:hover,
.si-colored.si-xing { background-color: #126567 !important; }
.si-instagram:hover,
.si-colored.si-instagram { background-color: #3F729B !important; }
.si-quora:hover,
.si-colored.si-quora { background-color: #A82400 !important; }
.si-openid:hover,
.si-colored.si-openid { background-color: #E16309 !important; }
.si-steam:hover,
.si-colored.si-steam { background-color: #111 !important; }
.si-amazon:hover,
.si-colored.si-amazon { background-color: #E47911 !important; }
.si-disqus:hover,
.si-colored.si-disqus { background-color: #E4E7EE !important; }
.si-plancast:hover,
.si-colored.si-plancast { background-color: #222 !important; }
.si-appstore:hover,
.si-colored.si-appstore { background-color: #000 !important; }
.si-pinterest:hover,
.si-colored.si-pinterest { background-color: #C8232C !important; }
.si-fivehundredpx:hover,
.si-colored.si-fivehundredpx { background-color: #111 !important; }


/* Social Icons Text Color
-----------------------------------------------------------------*/

.si-text-color.si-facebook i { color: #3B5998; }
.si-text-color.si-delicious i { color: #205CC0; }
.si-text-color.si-paypal i { color: #00588B; }
.si-text-color.si-flattr i { color: #F67C1A; }
.si-text-color.si-android i { color: #A4C639; }
.si-text-color.si-smashmag i { color: #E53B2C; }
.si-text-color.si-gplus i { color: #DD4B39; }
.si-text-color.si-wikipedia i { color: #333; }
.si-text-color.si-stumbleupon i { color: #F74425; }
.si-text-color.si-foursquare i { color: #25A0CA; }
.si-text-color.si-call i { color: #444; }
.si-text-color.si-ninetyninedesigns i { color: #F26739; }
.si-text-color.si-forrst i { color: #5B9A68; }
.si-text-color.si-digg i { color: #191919; }
.si-text-color.si-spotify i { color: #81B71A; }
.si-text-color.si-reddit i { color: #C6C6C6; }
.si-text-color.si-blogger i { color: #FC4F08; }
.si-text-color.si-cc i { color: #688527; }
.si-text-color.si-dribbble i { color: #EA4C89; }
.si-text-color.si-evernote i { color: #5BA525; }
.si-text-color.si-flickr i { color: #FF0084; }
.si-text-color.si-google i { color: #DD4B39; }
.si-text-color.si-instapaper i { color: #333; }
.si-text-color.si-klout i { color: #FF5F52; }
.si-text-color.si-linkedin i { color: #0E76A8; }
.si-text-color.si-vk i { color: #2B587A; }
.si-text-color.si-rss i { color: #EE802F; }
.si-text-color.si-skype i { color: #00AFF0; }
.si-text-color.si-twitter i { color: #00ACEE; }
.si-text-color.si-youtube i { color: #C4302B; }
.si-text-color.si-vimeo i { color: #86C9EF; }
.si-text-color.si-aim i { color: #FCD20B; }
.si-text-color.si-yahoo i { color: #720E9E; }
.si-text-color.si-email3 i { color: #6567A5; }
.si-text-color.si-macstore i { color: #333333; }
.si-text-color.si-myspace i { color: #666666; }
.si-text-color.si-podcast i { color: #E4B21B; }
.si-text-color.si-cloudapp i { color: #525557; }
.si-text-color.si-dropbox i { color: #3D9AE8; }
.si-text-color.si-ebay i { color: #89C507; }
.si-text-color.si-github i { color: #171515; }
.si-text-color.si-googleplay i { color: #DD4B39; }
.si-text-color.si-itunes i { color: #222; }
.si-text-color.si-plurk i { color: #CF5A00; }
.si-text-color.si-pinboard i { color: #0000E6; }
.si-text-color.si-soundcloud i { color: #FF7700; }
.si-text-color.si-tumblr i { color: #34526F; }
.si-text-color.si-wordpress i { color: #1E8CBE; }
.si-text-color.si-yelp i { color: #C41200; }
.si-text-color.si-intensedebate i { color: #009EE4; }
.si-text-color.si-eventbrite i { color: #F16924; }
.si-text-color.si-scribd i { color: #666666; }
.si-text-color.si-stripe i { color: #008CDD; }
.si-text-color.si-print i { color: #111; }
.si-text-color.si-dwolla i { color: #FF5C03; }
.si-text-color.si-statusnet i { color: #131A30; }
.si-text-color.si-acrobat i { color: #D3222A; }
.si-text-color.si-drupal i { color: #27537A; }
.si-text-color.si-buffer i { color: #333333; }
.si-text-color.si-pocket i { color: #EE4056; }
.si-text-color.si-bitbucket i { color: #0E4984; }
.si-text-color.si-stackoverflow i { color: #EF8236; }
.si-text-color.si-hackernews i { color: #FF6600; }
.si-text-color.si-xing i { color: #126567; }
.si-text-color.si-instagram i { color: #3F729B; }
.si-text-color.si-quora i { color: #A82400; }
.si-text-color.si-openid i { color: #E16309; }
.si-text-color.si-steam i { color: #111; }
.si-text-color.si-amazon i { color: #E47911; }
.si-text-color.si-disqus i { color: #E4E7EE; }
.si-text-color.si-plancast i { color: #222; }
.si-text-color.si-appstore i { color: #000; }
.si-text-color.si-pinterest i { color: #C8232C; }
.si-text-color.si-fivehundredpx i { color: #111; }

.si-text-color:hover { color: #FFF; }

.col_one_third { width: 30.63%; }

.nobottommargin { margin-bottom: 0 !important; }

