@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

/*************************
*******Typography******
**************************/

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
    line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
}

h1 {
    font-size: 36px;
/*    color: #fff;*/
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
}

img{
    max-width: 100%;
}

h4 {
    font-size: 16px;
}

a {
    color: #da251d;
    -webkit-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
    color: #da251d;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

.btn-primary {
    padding: 8px 20px;
    background: #da251d;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #da251d;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

.center h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.media>.pull-left {
    margin-right: 20px;
}

.media>.pull-right {
    margin-left: 20px;
}

body>section {
    padding: 70px 0;
}

#featured-news,
#si-terpadu,
#socmed,
#suara-anda {
    padding: 100px 0;
}

.center {
    text-align: center;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.transparent-bg {
    background-color: transparent !important;
    margin-bottom: 0;
}



@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*************************
*******Header******
**************************/

#header .search {
    display: inline-block;
}

.navbar>.container .navbar-brand {
    margin-left: 0;
}


.navbar-brand {
    padding: 0 0 20px 0;
    margin: 0;
    max-width: 60px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #1f1a17;
    padding: 15px 0;
    padding-bottom: 0;
}


.navbar-nav {
    margin-top: 15px;
    padding-left: 10px;
}

.navbar-nav>li {
    margin-left: 35px;
    padding-bottom: 28px;
}

.navbar-inverse .navbar-nav>li>a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
    font-weight: 300;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #da251d;
    color: #fff;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #da251d;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: #1f1a17;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
    position: absolute;
    top: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu>li>a {
    padding: 8px 15px;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:hover>a,
.navbar-inverse .navbar-nav .dropdown-menu>li:focus>a,
.navbar-inverse .navbar-nav .dropdown-menu>li.active>a {
    background-color: #da251d;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:last-child>a {
    border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu>li.divider {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}

/***********************
********* Pic & Banner Slider ******
************************/

#headslider {
    position: relative;
}

.no-margin {
    margin: 0;
    padding: 0;
}

#headslider .carousel .carousel-content {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

#headslider .carousel .slide-margin {
    margin-top: 140px;
}

#headslider .carousel h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #fff;
}

#headslider .carousel .btn-slide {
    padding: 0 30px;
    line-height: 42px;
    background: #EC5538;
    color: #fff;
    border-radius: 4px;
    margin-top: 40px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #EC5538;
}

#headslider .carousel .btn-slide.white {
    border: 1px solid rgba(255, 255, 255, 0.44);
    background: rgba(255, 255, 255, 0.26);
    color: #fff;
}

#headslider .carousel .slider-img {
    text-align: right;
    position: absolute;
}

#headslider .carousel .item {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    height: 730px;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#headslider .carousel .item:first-child {
    top: auto;
    position: relative;
}

#headslider .carousel .item.active {
    opacity: 1;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 1;
}

#headslider .prev,
#headslider .next {
    position: absolute;
    top: 50%;
    background-color: #EC5538;
    color: #fff;
    display: inline-block;
    margin-top: -25px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    z-index: 5;
}

#headslider .prev:hover,
#headslider .next:hover {
    background-color: #000;
}

#headslider .prev {
    left: 10px;
}

#headslider .next {
    right: 10px;
}

#headslider .carousel-indicators {
    margin: 0;
    left: 0;
    width: 100%;
    bottom: 80px;
}

#headslider .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin: 0 5px;
    position: relative;
    border: 1px solid #fff;
}

#headslider .carousel-indicators li.active {
    background-color: #EC5538;
    border: 1px solid #EC5538
}

#headslider .active .animation.animated-item-1 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
}

#headslider .active .animation.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 600ms both;
    animation: fadeInUp 300ms linear 600ms both;
}

#headslider .active .animation.animated-item-3 {
    -webkit-animation: fadeInUp 300ms linear 900ms both;
    animation: fadeInUp 300ms linear 900ms both;
}

#headslider .active .animation.animated-item-4 {
    -webkit-animation: fadeInUp 300ms linear 1200ms both;
    animation: fadeInUp 300ms linear 1200ms both;
}

/***********************
********* Welcome & Service******
************************/
#welcome {
    background-image: linear-gradient(#666462, #fff);
    padding-bottom: 20px;
}

#welcome h1 {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}

#welcome h3 {
    font-size: 29px;
    font-weight: 700;
    color: #fff;
}

#welcome h6 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

#welcome .btn-slide {
    padding: 0 30px;
    line-height: 42px;
    background: #EC5538;
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #EC5538;
}

#welcome .animation.animated-item-1 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
}

#welcome .animation.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 600ms both;
    animation: fadeInUp 300ms linear 600ms both;
}

#welcome .animation.animated-item-3 {
    -webkit-animation: fadeInUp 300ms linear 900ms both;
    animation: fadeInUp 300ms linear 900ms both;
}

/***********************
********* Service ******
************************/

/* Info Panel */
.service {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
    background-color: white;
    z-index: 99999;
    margin-top: -100px;
    position: relative;
}

#service {
    margin-bottom: -140px;
}

#service .service-wrap .icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    color: #D0D0D0;
    border: 1px solid #D0D0D0;
    font-size: 20px;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
    float: left;
}

#service .service-wrap:hover .icon {
    color: #ffffff;
    border: 1px solid #EC5538;
    background-color: #EC5538;
}


#service .service-wrap .capt h2 {
    color: #333;
    /* padding: 7px 0 0 5px; */
    line-height: 40px;
    margin: 10px 0 10px 0;
}


#service .animation.animated-item-4 {
    -webkit-animation: fadeInUp 300ms linear 1200ms both;
    animation: fadeInUp 300ms linear 1200ms both;
}


/***********************
********* Running Text ******
************************/
.running-text {
    margin: 0;
}
.marquee {

    width: 100%;
    background-color: #fff500;
    border-radius: 34px;
    line-height: 10px;
	color: #000000;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

}
.marquee p {
    
    display: inline-block;
    padding-top: 5px;
    animation: marquee 30s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/***********************
********* Featured-news ******
************************/

#featured-news{
    background: linear-gradient(#e94840,#fff);
}

#featured-news h2{
    color: #fff;
    padding: 20px 0 20px 0;
}

.post-slide{
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide .post-img{
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.post-slide .post-img .cat-badge {
    position: absolute;
    top: 8px;
    right: 16px;
}

.post-slide .label-warning {
    color: #000000;
    background-color: #fff500;
}

.post-slide .sbs-slide img{
    width: 100%;
    transform: scale(1);
    transition: all 1s ease-in-out 0s;
    overflow: hidden;
}

.post-slide .hrslide img{
    width: 100%;
    height: 200px;
    transform: scale(1);
    transition: all 1s ease-in-out 0s;
    overflow: hidden;
}
.post-slide:hover .post-img img{
    transform: scale(1.08);
}
.post-slide .post-content{
    background: #fff;
    padding: 20px;
}
.post-slide .post-title{
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
}
.post-slide .post-title a{
    display: inline-block;
    color: #808080;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    color: #3d3030;
    text-decoration: none;
}

.post-slide .post-bar{
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
}
.post-slide .post-bar li{
    color: #676767;
    padding: 2px 0;
}
.post-slide .post-bar li i{
    margin-right: 5px;
}
.post-slide .post-bar li a{
    display: inline-block;
    font-size: 12px;
    color: #808080;
    transition: all 0.3s ease 0s;
}
.post-slide .post-bar li a:after{
    content: ",";
}
.post-slide .post-bar li a:last-child:after{
    content: "";
}
.post-slide .post-bar li a:hover{
    color: #3d3030;
    text-decoration: none;
}


/***********************
********* si-terpadu ******
************************/

#si-terpadu {
    background: linear-gradient(#fff, #fff);
}

#si-terpadu .box {
    padding: 30px;
    margin-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
            box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 20px;
  }
  
   #si-terpadu .box .icon {
    padding: 20px auto 20px auto;
    font-size: 60px;
  }
  
   #si-terpadu .box .caption {
    padding: 0px 5px 0px 5px;
    font-weight: 200;
}
  
  #si-terpadu .box .caption h3 {
    margin: 0px 0px 5px 0px;
    
  }

   #si-terpadu .box .caption h2{
    margin: auto;
}

  #si-terpadu .box:hover {
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px rgba(243, 228, 11, 0.842);
            box-shadow: 0px 0px 30px rgba(243, 228, 11, 0.842);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
  }

/***********************
********* suara-anda ******
************************/
#suara-anda {
    background: linear-gradient( #fff, #d85456, #fff);
    color: white;
}

#suara-anda a {
    color: #fff500;
}

#suara-anda a:hover,
#suara-anda a:visited {
    color: #1f1f1f;
}

#suara-anda .box {
    color: #1f1a17;
    margin: auto;
    width: 500px;
    padding: 30px;
    margin-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
            box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 20px;
}

/***********************
********* Footers ******
************************/
#socmed {
    background-image: linear-gradient( #fff, #fff, #fff, #666462);
}

#socmed ul {
    display: flex;
    margin: 0;
    padding: 100px 0px 0px 0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#socmed li {
    list-style: none;
    margin: auto;

}

#socmed li .logo {
    height: 30px;
    margin-bottom: 20px;
}

#socmed li a {
    width: 80px;
    height: 80px;
    color: #da261d6b(0, 0, 0, 0.521);
    background: #da261d6b;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid;
}

#socmed li a:hover {
    background: #fff500;
}

#socmed ul li a .logo {
    padding-top: 10px;
    position: static;
    color: #fff;
    transition: .5s;
}

#socmed ul li a:hover .logo {
    transform: rotateY(360deg);
}

/***********************
********* Footers ******
************************/

.footer-logo{
    display: inline-block;
}
#bottom {
    background: #1f1a17;
    border-bottom: 5px solid #fff500;
    font-size: 14px;
}

#bottom .widget {
    border-top: 2px solid #fff500;
}

#bottom .widget2 .nav .navbar-nav .dropdown {
    background-color: red;
}


#bottom h3 {
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #da251d;
    font-weight: 700;
}

#bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#bottom ul li {
    display: block;
    padding: 4px 0;
    color: #fff;
    margin-left: 0;
}

#bottom ul li a {
    color: #fff;
    font-weight: 300;
    padding: 0;
    margin-right: 100px;
}

#bottom ul li a:hover {
    color: #da251d;
}

#bottom ul li ul li {
    background-color: black;
}

#bottom .widget {
    margin-bottom: 0;
    padding-left: 15px;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #1f1a17;
    font-weight: 300;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #da251d;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul>li {
    display: inline-block;
    margin-left: 15px;
}


/***********************
********* pemerintahan ******
************************/
.profil {
    margin-bottom: 10em;
}

.profil .profil-pic img{
    width: 500px;
    height: auto;
}

.tab-profil {
    padding-bottom: 1em;
  }
  
  .tab-profil2 {
    padding-bottom: 4em;
  }

.nav-tabs>li {
    margin-bottom: 0px;
    border-bottom: 0px solid #e6e6e6;
  }

  .nav-tabs{
    border-bottom: transparent;
    border-right: 0px solid #e6e6e6;
  }
  
  .nav-tabs>li>a {
    background: #f5f5f5;
    color: #666;
    border-radius: 0;
    border: 0 none;
    line-height: 24px;
    margin-right:0;
    padding: 13px 15px;
  }
  
  .nav-tabs li:last-child{
    border-bottom: 0 none;
  } 
  
  .nav-stacked>li+li{
    margin-top: 0;
  }
  
  .nav-tabs>li>a:hover{
    background: #1f1f20;
    color: grey;
  }
  
  .nav-tabs>li.active>a, 
  /*.nav-tabs>li.active>a:hover,*/
  .nav-tabs>li.active>a:focus {
    border: 0;
    color:#000;
    background: #c52d2f; /*#1f1f20*/ 
    position: relative;
  }
  
  .nav-tabs>li.active>a:after {
    position: absolute;
    content:  "";
    width: auto;
    height: auto;
    border-style:solid;
    border-color: transparent transparent transparent #c52d2f;
    border-width: 25px 22px;
    right: -44px;
    top:0;
  }
  
  #content .tab-pane{
      padding-left: 100px;
      padding-bottom: 10px;
  }

/***********************
********* selayang-pandang ******
************************/

.header-selayang  {
    margin-top: -70px;

}

.header-selayang h1 {
    font-size: 50px;
    margin-top: 80px;
}

.header-selayang .jumbotron {
    height: 324px;
    background-size: cover;
    color: white;
}

/* Visi dan Misi */

.visi h1 {
    font-size: 40px;
    
}

.visi .jumbotron {
    background: none;

}

.misi {
    margin-top: 30px;
}


.misi .misi-wrap {
    margin-bottom: 35px;
    padding-right: 50px;
}

.misi .misi-wrap .logo {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    color: #ff1a1a;
    
    font-size: 5.8rem;
    
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom: 30px;
    margin-top: -5px;
    margin-right: 40px;
    float: left;
}


.misi .misi-wrap h2 {
    font-size: 14px;
    color: #333;
    margin: 0;
    margin-bottom: 24px;

}
.misi .misi-wrap p {
    font-size: 20px;
    margin: 0;
    line-height: 26px;
    color: #707070;
}

.nawa-cita {
    margin-top: 50px;
}

.kegiatan-unggulan {	
    padding-bottom: 7em;	
}

/* Akhir Visi Misi*/

/* Sejarah */
.quotes {
    margin-top: 50px;
}

.quotes .moto {
    font-size: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 270px;
}

.quotes .jumbotron {
    height: 820px;
    background: none;
}

/*tentang minahasa*/
.tentang-minahasa .tombol {
    margin-top: 20px;

}

.tentang-minahasa span {
    font-size: 40px;
    font-weight: 500;
}

.tentang-minahasa p {
    font-size: 15px;
    
}

.tentang-minahasa .tentang-minahasa-info {
    margin-top: 50px;
    
}

#lebih-lanjut1 {
    margin-top: 50px;
}

#lebih-lanjut2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#lebih-lanjut1 p {
    margin-top: 50px;
}

#lebih-lanjut2 p {
    margin-top: 50px;
}
 
/*Akhir Sejarah*/

/* Peta dan Topografi */

.info-peta h1 {
    font-size: 40px;
    
}

.info-peta .jumbotron {
    background: none;

}

.peta {	
    padding-bottom: 7em;	
}

/*Ahir Peta dan Topografi */


/*Lambang dan Arti*/
.arti-lambang .arti-title {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1;
}

.arti-lambang .arti-deskripsi {
    font-size: 17px;
    line-height: 1.5;
    padding-bottom: 20px;
    
}

.arti-lambang-full {	
    padding-bottom: 7em;	
}	


/*************************
********* Contact Us CSS ******
**************************/

#page-suara-anda {
    padding-top: 0;
}

#page-suara-anda .page-title{
    margin: auto;
    background-image: linear-gradient(#d6625b, #fff);
    padding-top: 50px;
}

#page-suara-anda .contact-form .form-group label {
    color: #989898;
    font-size: 16px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

#page-suara-anda .form-group .form-control {
    padding: 0 12px;
    border-color: #e59f9b3b;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;
}

#page-suara-anda .form-group textarea.form-control{
    height: 200px;
}

#page-suara-anda .form-group button{
    font-size: 15px;
    padding: 15px 30px;
}

textarea#message {
    resize: none;
    padding: 10px;
}



#page-suara-anda .box {
    margin: auto;
    width: 80%;
    padding: 30px;
    margin-bottom: 40px;
    background-color: rgb(241, 194, 194);
    -webkit-box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
            box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 20px;
}

/*************************
********* galeri CSS ******
**************************/

#galeri{
    padding-top: 0px;
    margin: auto;
}


.galeri-items,
.galeri-filter {
    list-style: none outside none;
    margin: 0 0 40px 0;
    padding: 20px 0 0 0;
}

.galeri-filter>li {
    display: inline-block;
}

.galeri-filter>li a {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
    text-transform: uppercase;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    border: 1px solid #F2F2F2;
    outline: none;
    border-radius: 3px;
}

.galeri-filter>li a:hover,
.galeri-filter>li a.active {
    color: #fff;
    background: #EC5538;
    border: 1px solid #EC5538;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.galeri-items>li {
    float: left;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.galeri-item {
    margin: 0;
    padding: 0;
}


#galeri .recent-work-wrap {
    position: relative;
    overflow: hidden;
}

#galeri .recent-work-wrap img {
    width: 100%;
}

#galeri .recent-work-wrap .recent-work-inner {
    top: 0;
    background: transparent;
    opacity: .8;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}

#galeri .recent-work-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    vertical-align: middle;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    padding: 30px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#galeri .recent-work-wrap .overlay .preview {
    color: #fff;
    height: 50px;
    width: 50px;
    background-color: #da251d;
    padding: 5px;
}

#galeri .recent-work-wrap:hover .overlay {
    opacity: 1;
}

/* Start: Recommended Isotope styles */


/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}


/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}


/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}


/* End: Recommended Isotope styles */


/* disable CSS transitions for containers with infinite scrolling*/

.isotope.infinite-scrolling {
    -webkit-transition: none;
    transition: none;
}


/*************************
********* Berita css ******
**************************/

#berita {
    padding-top: 0px;
}

#berita .page-title {
    padding-top: 70px;
}

#berita .page-title h1{
    color: #da251d;
}

#berita .item {
    position: relative;
}

#berita .item img {
    width: 100%;
    height: auto;
}

#berita aside {
    padding-right: 0px;
}

#berita .item {
    margin-bottom: 20px;
}

#berita .post-slide12{
    margin-bottom:2em;
}

#berita .post-slide12 .post-img{
    position:relative;
    width:50%;
    height: auto;
    padding: 0px 0px 0px 10px;
}


#berita .post-slide12 .post-img img{
    width:100%;
    height: auto;
}
#berita .post-slide12 .post-review{
    padding: 0px 12px;
    width: 50%;
}
#berita .post-slide12 .post-title{
    font-size: 24px;
    line-height: 24px;
    margin:0 0 5px 0;
}

#berita .post-slide12 .post-date{
    display:block;
    font-size:15px;
    font-weight:700;
    margin-bottom:5px;
}

#berita .post-slide12 .post-review a {
    color: #808080;
}

#berita .post-slide12 .post-review a:hover {
    color: #da251d;
}

/*************************
********* Pagination ******
**************************/

#berita ul.pagination{
    margin-top: 40px;
}
#berita ul.pagination>li>a {
    font-size: 16px;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    background-color: transparent;
}

#berita ul.pagination>li>a i {
    margin-left: 5px;
    margin-right: 5px;
}

#berita ul.pagination>li.active>a,
#berita ul.pagination>li:hover>a {
    background-color: #EC5538 ;
    color: #fff;
}

#berita ul.pagination>li:first-child > a, 
#berita ul.pagination>li:last-child > a{
    background-color: transparent;
    color: #989898;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px)
}

#berita ul.pagination>li:first-child > a:hover, 
#berita ul.pagination>li:last-child > a:hover{
    background-color: transparent;
    color: #EC5538;
}


#berita ul.pagination>li:first-child > a{
    background-color: transparent;
    color: #989898;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px)
}
 
#berita ul.pagination>li:last-child > a{
    background-color: transparent;
    color: #989898;
    -webkit-transform: translateX(200px);
    transform: translateX(200px)
}

/*********************
****blog page css*****
**********************/

.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#c52d2f;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #c52d2f;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #c52d2f;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h3 {
  color: #858586;
  margin-bottom: 40px;
  /* font-weight: 300 */}

.blog .blog-item .blog-content h4 {
  font-size: 14px;
}


.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  color: #da512d;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

#berita ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

#berita ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

#berita ul.pagination > li.active > a, 
#berita ul.pagination > li:hover > a {
  background-color: #c52d2f !important;
  border-color: #c52d2f !important;
  color: #fff;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}


ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#c52d2f;
  color: #fff;  
}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}

/**********************
**blog single page css*
**********************/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.entry-meta {
	margin: 10px -10px -15px 0;
	list-style: none;
}

.single-post .entry-meta { margin-bottom: 20px; }

.entry-meta li {
	float: left;
	font-size: 13px;
	line-height: 14px;
	margin: 0 10px 15px 0;
	color: #999;
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

.entry-meta li:before {
	content: '/';
	display: inline-block;
	margin-right: 10px;
	opacity: 0.5
}

.entry-meta li i {
	position: relative;
	top: 1px;
	font-size: 14px;
	margin-right: 3px;
}

.entry-meta li a { color: #999; }
.entry-meta li a:hover { color: #1ABC9C; }
.entry-meta li:first-child:before { display: none; }
.entry-meta li ins {
	font-weight: 600;
	text-decoration: none;
}

/* ----------------------------------------------------------------
	Comments List
-----------------------------------------------------------------*/


#comments {
	position: relative;
	margin-top: 50px;
	padding-top: 50px;
	border-top: 1px solid #EEE;
}

.commentlist {
	list-style: none;
	padding-bottom: 50px;
	margin: 0 0 50px;
	border-bottom: 1px solid #EEE;
}

#reviews .commentlist {
	padding-bottom: 30px;
	margin: 0 0 20px;
}

.commentlist ul { list-style: none; }

.commentlist li,
.commentlist li ul,
.commentlist li ul li { margin: 30px 0 0 0; }

.commentlist ul:first-child { margin-top: 0; }

.commentlist li {
	position: relative;
	margin: 30px 0 0 30px;
}

#reviews .commentlist li { margin-top: 20px; }

.comment-wrap {
	position: relative;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding: 20px 20px 20px 35px;
}

.commentlist ul .comment-wrap {
	margin-left: 25px;
	padding-left: 20px;
}

#reviews .comment-wrap {
	border: 0;
	padding: 10px 0 0 35px;
}

.commentlist > li:first-child,
#reviews .commentlist > li:first-child {
	padding-top: 0;
	margin-top: 0;
}

.commentlist li .children { margin-top: 0; }

.commentlist li li .children { margin-left: 30px; }

.commentlist li .comment-content,
.pingback {
	position: relative;
	overflow: hidden;
}

.commentlist li .comment-content p,
.pingback p { margin: 20px 0 0 0; }

.commentlist li .comment-content { padding: 0 0 0 15px; }

.commentlist li .comment-meta {
	float: left;
	margin-right: 0;
	line-height: 1;
}

.comment-avatar {
	position: absolute;
	top: 15px;
	left: -35px;
	padding: 4px;
	background: #FFF;
	border: 1px solid #E5E5E5;
	border-radius: 50%;
}

.comment-avatar img {
	display: block;
	border-radius: 50%;
}

.commentlist li .children .comment-avatar { left: -25px; }

.comment-content .comment-author {
	margin-bottom: -10px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
}

.comment-content .comment-author a {
	border: none;
	color: #333;
}

.comment-content .comment-author a:hover { color: #1ABC9C; }

.comment-content .comment-author span { display: block; }

.comment-content .comment-author span,
.comment-content .comment-author span a {
	font-size: 12px;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	color: #AAA;
}

.comment-content .comment-author span a:hover { color: #888; }

.comment-reply-link,
.review-comment-ratings {
	display: block;
	position: absolute;
	top: 4px;
	left: auto;
	text-align: center;
	right: 0px;
	width: 14px;
	height: 14px;
	color: #CCC;
	font-size: 14px;
	line-height: 1;
}

.review-comment-ratings {
	width: auto;
	color: #333;
}

.comment-reply-link:hover { color: #888; }


/* ----------------------------------------------------------------
	Comment Form
-----------------------------------------------------------------*/


#respond,
#respond form { margin-bottom: 0; }

.commentlist li #respond { margin: 30px 0 0; }

.commentlist li li #respond { margin-left: 30px; }

#respond p { margin: 10px 0 0 0; }

#respond p:first-child { margin-top: 0; }

#respond label small {
	color: #999;
	font-weight: normal;
}

#respond input[type="text"],
#respond textarea { margin-bottom: 0; }

#respond .col_one_third,
#respond .col_full { margin-bottom: 20px; }

.fb-comments,
.fb_iframe_widget,
.fb-comments > span,
.fb_iframe_widget > span,
.fb-comments > span > iframe,
.fb_iframe_widget > span > iframe {
	display: block !important;
	width: 100% !important;
	margin: 0;
}



/* ----------------------------------------------------------------
    Widgets
-----------------------------------------------------------------*/


.widget {
    position: relative;
    margin-top: 50px;
}

.sidebar-widgets-wrap .widget {
    padding-top: 50px;
    border-top: 1px solid #EEE;
}

.widget:first-child { margin-top: 0; }

.sidebar-widgets-wrap .widget:first-child {
    padding-top: 0;
    border-top: 0;
}

.widget > h4 {
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar-widgets-wrap .widget > h4 { letter-spacing: 1px; }

.widget p:not(.lead) { font-size: 14px; }

/* Using panels to display blog date */
.panel.date {
    margin: 0px;
    width: 50px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}

.sidebar-ann {
    margin: auto;
    width: 100%;
    padding: 30px;
}

.agenda {
    margin: auto;
    width: 100%;
    padding: 20px;
}

.icon-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*---- DETAIL POST -----*/
.gambar {
    padding-top: 2em;
    padding-bottom: 1em;
}


/* ----------------------------------------------------------------
    Social Icons
-----------------------------------------------------------------*/


.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px !important;
    color: #555;
    text-shadow: none;
    border: 1px solid #AAA;
    border-radius: 3px;
    overflow: hidden;
}


/* Social Icons - Rounded
-----------------------------------------------------------------*/

.si-rounded { border-radius: 50%; }

/* Social Icons - Borderless
-----------------------------------------------------------------*/

.si-borderless { border-color: transparent !important; }

/* Social Icons - Dark
-----------------------------------------------------------------*/

.si-dark {
    background-color: #444;
    color: #FFF !important;
    border-color: transparent;
}

/* Social Icons - Light
-----------------------------------------------------------------*/

.si-light {
    background-color: rgba(0,0,0,0.05);
    color: #666 !important;
    border-color: transparent;
}

/* Social Icons - Colored
-----------------------------------------------------------------*/

.si-colored { border-color: transparent !important; }
.si-colored i { color: #FFF; }

/* Social Icons - Large
-----------------------------------------------------------------*/

.social-icon.si-large {
    margin: 0 10px 10px 0;
    width: 56px;
    height: 56px;
    font-size: 30px;
    line-height: 54px !important;
}

/* Social Icons - Small
-----------------------------------------------------------------*/

.social-icon.si-small {
    width: 32px;
    height: 32px;
    font-size: 14px;
    line-height: 30px !important;
}

.social-icon i {
    display: block;
    position: relative;
}

body:not(.device-touch) .social-icon i {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.social-icon i:last-child { color: #FFF !important; }
.social-icon:hover i:first-child { margin-top: -38px; }
.social-icon.si-large:hover i:first-child { margin-top: -54px; }
.social-icon.si-small:hover i:first-child { margin-top: -30px; }
.social-icon:hover {
    color: #555;
    border-color: transparent;
}
.si-colored.social-icon { border-color: transparent; }

/* Social Icons - Sticky
-----------------------------------------------------------------*/

.si-sticky {
    position: fixed;
    top: 50%;
    left: 5px;
    width: 36px;
    z-index: 100;
}

/* Social Icons - Sticky Right
-----------------------------------------------------------------*/

.si-sticky.si-sticky-right {
    left: auto;
    right: 8px;
}

/* Social Icons - Share
-----------------------------------------------------------------*/

.si-share {
    position: relative;
    padding-left: 5px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.si-share span {
    line-height: 36px;
    font-weight: bold;
    font-size: 13px;
}

.si-share div { float: right; }

.si-share .social-icon {
    margin: -1px 0;
    border-radius: 0;
    font-size: 15px;
}

.si-facebook:hover,
.si-colored.si-facebook { background-color: #3B5998 !important; }
.si-gplus:hover,
.si-colored.si-gplus { background-color: #DD4B39 !important; }
.si-google:hover,
.si-colored.si-google { background-color: #DD4B39 !important; }
.si-rss:hover,
.si-colored.si-rss { background-color: #EE802F !important; }
.si-twitter:hover,
.si-colored.si-twitter { background-color: #00ACEE !important; }
.si-youtube:hover,
.si-colored.si-youtube { background-color: #C4302B !important; }
.si-colored.si-yahoo { background-color: #720E9E !important; }
.si-dropbox:hover,
.si-colored.si-dropbox { background-color: #3D9AE8 !important; }
.si-colored.si-googleplay { background-color: #DD4B39 !important; }
.si-instagram:hover,
.si-colored.si-instagram { background-color: #3F729B !important; }
.si-appstore:hover,
.si-colored.si-appstore { background-color: #000 !important; }

/* Social Icons Text Color
-----------------------------------------------------------------*/

.si-text-color.si-facebook i { color: #3B5998; }
.si-text-color.si-gplus i { color: #DD4B39; }
.si-text-color.si-google i { color: #DD4B39; }
.si-text-color.si-rss i { color: #EE802F; }
.si-text-color.si-twitter i { color: #00ACEE; }
.si-text-color.si-youtube i { color: #C4302B; }
.si-text-color.si-yahoo i { color: #720E9E; }
.si-text-color.si-googleplay i { color: #DD4B39; }
.si-text-color.si-instagram i { color: #3F729B; }
.si-text-color:hover { color: #FFF; }
.col_one_third { width: 30.63%; }
.nobottommargin { margin-bottom: 0 !important; }

