/* lg */ 
@media (min-width: 1200px) {
  body, html {
    overflow: auto!important;
    max-height: 100% !important;
  }
  
  /* ####################################### */
  /* -------------- navbar ----------------- */
  /* ####################################### */

  .dropdown:hover .dropdown-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeIn Up 400ms;
  }
  
  /* ####################################### */
  /* ----------- featured-news ------------- */
  /* ####################################### */

  #featured-news aside{
    padding: 0px 0 20px 0;
  }

  /* ####################################### */
  /* ----------- detailpost ---------------- */
  /* ####################################### */

  .padding {
    padding-left: 15px;
    padding-right: 15px;
  }
 
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  body, html {
    overflow: auto!important;
    max-height: 100% !important;
  }
  
  /* ####################################### */
  /* -------------- navbar ----------------- */
  /* ####################################### */

  .dropdown:hover .dropdown-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
  }

  .navbar-nav > li {
    margin-left: 10px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  /* ####################################### */
  /* -------------- service ---------------- */
  /* ####################################### */

  #service {
    margin-bottom: -160px;
  }
  #service .container{
    padding-left: 0;
  }
  
  .service {
    padding: 20px;
  }

  #service .service-wrap .icon {
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      font-size: 100%;
      margin-right: 5px;
  }

  #service .service-wrap .icon i{
    font-size: 100%;
  }

  #service .service-wrap .capt h2 {
      font-size: 100%;
      margin: 0;
      padding: 0;
      line-height: 32px;
      text-align: left;
  }

  #service .service-wrap .capt {
    padding: 0;
  }
  
  #featured-news aside{
    padding: 0px 0 20px 0;
  }

  /* ####################################### */
  /* ---- selayang pandang / visi & misi --- */
  /* ####################################### */
  .visi h1 {
    font-size: 25px;
  }

  .misi .misi-wrap p {
    font-size: 18px;    
  }

  /* ######################################## */
  /* ---- selayang pandang / lambang dan arti */
  /* ######################################## */
  
  .arti-lambang .arti-title {
    font-size: 20px;
  }

  .arti-lambang .arti-deskripsi {
    font-size: 14px;
  }

  /* ####################################### */
  /* ---- selayang pandang / sejarah ------- */
  /* ####################################### */

  .tentang-minahasa .tombol {
    margin-bottom: 20px;
  }

  .quotes .moto {
    font-size: 30px;
  }

  /* ####################################### */
  /* -------------- berita ----------------- */
  /* ####################################### */

  .berita-title .page-title h1 {
    font-size: 300%;
  }

  #berita .post-slide12 .post-review h3,
  {
    font-size: 130%;
  }

  /* ####################################### */
  /* -------------- detailpost ------------- */
  /* ####################################### */

  .padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* ########################################## */
  /* ---- socmed ------------------------------ */
  /* ########################################## */

  #socmed li a {
    width: 50px;
    height: 50px;
    font-size: 100%;
  }


}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  body, html {
    overflow: auto!important;
    max-height: 100% !important;
  }

  /* ####################################### */
  /* -------------- navbar ----------------- */
  /* ####################################### */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav > li {
    margin-left: 0;
  }

  .navbar-nav {
    margin-top: 0;
  }

  .navbar-header {
    padding: auto;
    margin: auto;
  }

  .navbar-brand > img {
    max-width: 100%;
    margin: 10px 325px 0px 325px;
  }

  /* ####################################### */
  /* -------------- service ---------------- */
  /* ####################################### */

  #service {
    margin-bottom: -160px;
  }
  #service .container{
    padding-left: 0;
  }
  
  .service {
    padding: 20px 20px 20px 30px;
  }

  #service .item {
    padding: 0;
  }

  #service .service-wrap .icon {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 100%;
      margin-right: 5px;
  }

  #service .service-wrap .icon i{
    font-size: 100%;
  }

  #service .service-wrap .capt h2 {
      font-size: 100%;
      margin: 0;
      padding: 0;
      line-height: 30px;
      text-align: left;
  }

  #service .service-wrap .capt {
    padding: 0;
  }
  
  /* ####################################### */
  /* -------------- featured-news ---------- */
  /* ####################################### */
  .post-slide .post-title{
    font-size: 100%;
  }

  .post-slide .sbs-slide img{
    width: 100%;
    height: auto;
  }
  
  .post-slide .hrslide img{
    width: 100%;
    height: auto;
  }

  #featured-news aside .hrbanner {
    padding: 20px 0 20px 0;
  }

  #featured-news aside .sidebar-ann {
    font-size: 80%;
    padding: 10px;
    margin-bottom: 20px;
  }

  /* ####################################### */
  /* ---- selayang pandang / visi dan misi - */
  /* ####################################### */

  .visi h1 {
    font-size: 25px;
    
  }

  .misi .misi-wrap p {
    font-size: 18px;    
  }

  /* ######################################## */
  /* ---- selayang pandang / lambang dan arti */
  /* ######################################## */

  .arti-lambang img {
    width: 360px;
    height: 480px;
    margin-bottom: 30px;
  }

  .arti-lambang {
    text-align: center;
  }

  .arti-lambang .arti-title {
    font-size: 23px;
  }

  .arti-lambang .arti-deskripsi {
    font-size: 17px;
  }

  /* ########################################## */
  /* ---- selayang pandang / peta dan topografi */
  /* ########################################## */

  .info-peta h1 {
    font-size: 25px;
  }

  /* ####################################### */
  /* ---- selayang pandang / sejarah ------- */
  /* ####################################### */

  .tentang-minahasa .tombol {
    margin-bottom: 20px;
  }

  .quotes .moto {
    font-size: 30px;
  }
  

  /* ####################################### */
  /* ---------- halaman suara anda --------- */
  /* ####################################### */

    #page-suara-anda .page-title h1 {
    font-size: 40px;
  }


  /* ####################################### */
  /* --------------- galeri ---------------- */
  /* ####################################### */

  #galeri .page-title h1{
    font-size: 40px;
  }


  /* ####################################### */
  /* --------------- berita ---------------- */
  /* ####################################### */

  .berita-title .page-title h1 {
    font-size: 250%;
    }

  #berita .post-slide12 .post-review h3,
  #berita .post-slide12 .post-review span,
  #berita .post-slide12 .post-review ul li {
    font-size: 100%;
  }

  /* ####################################### */
  /* --------------- detailpost ------------ */
  /* ####################################### */

  .padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* ########################################## */
  /* ---- socmed ------------------------------ */
  /* ########################################## */

  #socmed li a {
    width: 50px;
    height: 50px;
    font-size: 100%;
  }

}

/* xs */
@media (min-width: 481px) and (max-width: 767px) {
  body, html {
    overflow: auto!important;
    max-height: 100% !important;
  }

  body {
    padding-top: 99px
  }

  /* ####################################### */
  /* -------------- navbar ----------------- */
  /* ####################################### */

  .navbar-nav>li{
    display: block;
    margin: 0;
    padding-bottom: 0;
    margin-left: 5px;
  }

  .nav-tabs > li.active > a:after{
    display: none;
  }

  .navbar-brand > img {
    max-width: 80%;
    margin: 0 0 0px 20px;
    padding: 0px;
  }

  .navbar-header > button {
    margin: 10px ;
  }


    
  /* ####################################### */
  /* ---- selayang pandang ----------------- */
  /* ####################################### */

  .header-selayang h1 {
    font-size: 25px;
  }

  /* ####################################### */
  /* ---- selayang pandang / visi dan misi - */
  /* ####################################### */

  .visi h1 {
    font-size: 25px;
  }

  .misi .misi-wrap p {
    font-size: 18px;    
  }

  /* ######################################## */
  /* ---- selayang pandang / lambang dan arti */
  /* ######################################## */

  .arti-lambang img {
    width: 180px;
    height: 240px;
    margin-bottom: 30px;
  }

  .arti-lambang {
    text-align: center;
  }

  .arti-lambang .arti-title {
    font-size: 20px;
  }

  .arti-lambang .arti-deskripsi {
    font-size: 14px;
  }

  /* ########################################## */
  /* ---- selayang pandang / peta dan topografi */
  /* ########################################## */

  .info-peta h1 {
    font-size: 25px;
  }

  /* ####################################### */
  /* ---- selayang pandang / sejarah ------- */
  /* ####################################### */

  .tentang-minahasa .tombol {
    margin-bottom: 20px;
  }

  .quotes .moto {
    font-size: 30px;
  }

  /* ####################################### */
  /* -------- halaman suara anda ----------- */
  /* ####################################### */
    
  #page-suara-anda .page-title h1 {
    font-size: 40px;
  }

  /* ####################################### */
  /* -------- galeri ----------------------- */
  /* ####################################### */

  #galeri .page-title h1{
    font-size: 40px;
  }

  /* ####################################### */
  /* -------- service ----------------------- */
  /* ####################################### */

  #service {
    margin-bottom: -160px;
  }

  #service .container{
    padding-left: 0;
  }
  
  .service {
    padding: 0 40px 0 40px;
  }

  #service .item {
    width: 100%;
    padding: 5px;
  }

  #service .service-wrap .icon {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 100%;
    margin-right: 5px;
  }

  #service .service-wrap .icon i{
    font-size: 100%;
  }

  #service .service-wrap .capt h2 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-align: left;
  }

  #service .service-wrap .capt {
    padding: 0;
  }
  
  #featured-news aside{
    padding: 20px 0 20px 0;
  }

  /* ####################################### */
  /* -------- berita ----------------------- */
  /* ####################################### */

   #berita {
    padding-top: 20px;
  }
  
  #berita .post-content {
    padding-bottom: 0px;
  }

  #berita h3 {
    font-size: 100%;
  }

  .berita-title .page-title h1 {
    font-size: 200%;
    }

  #berita .page-title {
    padding-bottom: 20px;
  }

  #berita .panel {
    display: none;
  }

  #berita .post-review h3,
  #berita .post-review p {
    font-size: 100%;
  }

  /* ####################################### */
  /* -------- detailpost-------------------- */
  /* ####################################### */

  .padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* ########################################## */
  /* ---- socmed ------------------------------ */
  /* ########################################## */

  #socmed li a {
    width: 50px;
    height: 50px;
    font-size: 100%;
  }

  /* ########################################## */
  /* --------- suara anda --------------------- */
  /* ########################################## */

  #suara-anda .box {
    width: 450px;
  }
  

}

/* XS Portrait */
@media (min-width: 366px) and (max-width: 480px) {
  body, html {
    overflow: auto!important;
    max-height: 100% !important;
  }
  
  /* ########################################## */
  /* -------------- navbar -------------------- */
  /* ########################################## */

  .navbar-header .navbar-brand {
    padding: 0;
    margin: 0;
  }
  
  .navbar-brand > img {
    max-width: 80%;
    margin: 0 0 10px 20px;
    padding: 0px;
  }

  .navbar-header > button {
    margin-top: 10px 0 10px 0;
  }

  .navbar-nav>li {
    padding-bottom: 0px;
    margin-left: 5px;
  }

  /* ########################################## */
  /* --------------- service ------------------ */
  /* ########################################## */

  #welcome {
    padding: 20px 0 0 20px;
    text-align: left;
  }

  #welcome .animation.animated-item-1 {
    font-size: 100%;
  }

  #welcome .animation.animated-item-2 {
    font-size: 200%;
    margin-top : 10px;
  }

  #welcome > h1 {
    margin-right: 50px;
  }

  #welcome .animation.animated-item-3 {
    padding: 3px;
  }

  #welcome .btn-slide {
    padding: 0 30px;
    line-height: 20px;
    margin-top: 5px;
    font-size: 80%;
    margin-right: 10px;
    
  }

  #service {
    margin-bottom: -160px;
  }
  #service .container{
    padding-left: 0;
  }
  
  .service {
    padding: 0 40px 0 40px;
  }

  #service .item {
    width: 100%;
    padding: 5px;
  }

  #service .service-wrap .icon {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 100%;
    margin-right: 5px;
  }

  #service .service-wrap .icon i{
    font-size: 100%;
  }

  #service .service-wrap .capt h2 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-align: left;
  }

  #service .service-wrap .capt {
    padding: 0;
  }


  /* ########################################## */
  /* --------- featured-news ------------------ */
  /* ########################################## */

  .post-slide .hrslide img{
    width: 100%;
    height: auto;
  }

  .post-slide .hrslide {
    height: auto;
  }

  #featured-news .bigtwo {
    display: none;
  }

  /* ########################################## */
  /* --------- si terpadu --------------------- */
  /* ########################################## */

  #si-terpadu .box {
    width: 300px;
    margin: 10px auto 10px auto;
  }

  /* ########################################## */
  /* --------- suara anda --------------------- */
  /* ########################################## */

   #suara-anda .box {
    width: 300px;
  }
    
  /* ########################################## */
  /* ---- selayang pandang / visi dan misi ---- */
  /* ########################################## */

  .visi h1 {
    font-size: 17px;
    
  }

  .misi .misi-wrap {
    padding-right: 0px;
  }

  .misi .misi-wrap .logo {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .misi .misi-wrap p {
    font-size: 17px;
    text-align: center;

  }

  /* ########################################## */
  /* ---- selayang pandang / peta dan topografi */
  /* ########################################## */

  .info-peta h1 {
    font-size: 17px;
  }

  /* ########################################## */
  /* ---- selayang pandang / sejarah ---------- */
  /* ########################################## */

  .tentang-minahasa .tombol {
    margin-bottom: 20px;
  }

  .quotes {
    display: none;
  }

  /* ########################################## */
  /* ---- halaman suara anda ------------------ */
  /* ########################################## */
    
  #page-suara-anda .page-title h1 {
    font-size: 40px;
  }

  /* ########################################## */
  /* ---- galeri ------------------------------ */
  /* ########################################## */

  #galeri .page-title h1{
    font-size: 100%;
  }

  /* ########################################## */
  /* ---- socmed ------------------------------ */
  /* ########################################## */

  #socmed li a {
    width: 50px;
    height: 50px;
    font-size: 100%;
  }

  /* ########################################## */
  /* ---- berita ------------------------------ */
  /* ########################################## */

  #berita {
    padding-top: 20px;
  }

  .berita-title .page-title h1 {
    font-size: 200%;
    }

  #berita .page-title {
    padding-bottom: 20px;
  }

  #berita .panel {
    display: none;
  }

  #berita .post-slide12 .post-review h3,
  #berita .post-slide12 .post-review span,
  #berita .post-slide12 .post-review ul li {
    font-size: 100%;
  }

  /* ########################################## */
  /* ---- detailpost -------------------------- */
  /* ########################################## */

  .padding {
    padding-left: 15px;
    padding-right: 15px;
  }



}


@media (min-width: 321px) and (max-width: 365px){
  body, html {

    overflow: auto!important;
    max-height: 100% !important;
  }

  body {
    padding-top:90px;
  }
  
  /* ########################################## */
  /* ---- navbar ------------------------------ */
  /* ########################################## */

  .navbar-header .navbar-brand {
    padding: 0;
    margin: 0;
  }

  .navbar-brand > img {
    max-width: 80%;
    margin: 0 0 10px 20px;
    padding: 0px;
  }

  .navbar-header > button {
    margin-top: 10px 0 10px 0;
  }

  .navbar-nav>li {
    padding-bottom: 0px;
    margin-left: 5px;
  }

  /* ########################################## */
  /* ------- service -------------------------- */
  /* ########################################## */

  #welcome {
    padding: 20px 0 0 20px;
    text-align: left;
  }

  #welcome .animation.animated-item-1 {
    font-size: 100%;
  }

  #welcome .animation.animated-item-2 {
    font-size: 200%;
    margin-top : 10px;
  }

  #welcome > h1 {
    margin-right: 50px;
  }

  #welcome .animation.animated-item-3 {
    padding: 3px;
  }

  #welcome .btn-slide {
    padding: 0 30px;
    line-height: 20px;
    margin-top: 5px;
    font-size: 80%;
    margin-right: 10px;
    
  }

  #service {
    margin-bottom: -160px;
  }

  #service .container{
    padding-left: 0;
  }
  
  .service {
    padding: 0 15px 0 15px;
  }

  #service .item {
    width: 100%;
    padding: 5px;
  }

  #service .service-wrap .icon {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 100%;
    margin-right: 5px;
  }

  #service .service-wrap .icon i{
    font-size: 100%;
  }

  #service .service-wrap .capt h2 {
      font-size: 100%;
      margin: 0;
      padding: 0;
      line-height: 30px;
      text-align: left;
  }

  #service .service-wrap .capt {
    padding: 0;
  }

  /* ########################################## */
  /* ---- berita ------------------------------ */
  /* ########################################## */
  #berita {
    padding-top: 20px;
  }

  .berita-title .page-title h1 {
    font-size: 200%;
    }

  #berita .page-title {
    padding-bottom: 20px;
  }

  #berita .panel {
    display: none;
  }

  #berita .post-slide12 .post-review h3,
  #berita .post-slide12 .post-review span,
  #berita .post-slide12 .post-review ul li {
    font-size: 100%;
  }

  /* ########################################## */
  /* ---- featured news ----------------------- */
  /* ########################################## */

  .post-slide .hrslide img{
    width: 100%;
    height: auto;
  }

  .post-slide .hrslide {
    height: auto;
  }

  #featured-news .bigtwo {
    display: none;
  }

  /* ########################################## */
  /* ---- si terpadu -------------------------- */
  /* ########################################## */
  
  #si-terpadu .box {
    width: 300px;
    margin: 10px auto 10px auto;
  }

  /* ########################################## */
  /* ---- suara anda -------------------------- */
  /* ########################################## */
   
  #suara-anda .box {
    width: 280px;
  }

  /* ########################################## */
  /* ---- selayang pandang / visi dan misi ---- */
  /* ########################################## */

  .visi h1 {
    font-size: 17px;
    
  }

  .misi .misi-wrap {
    padding-right: 0px;
  }

  .misi .misi-wrap .logo {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .misi .misi-wrap p {
    font-size: 17px;
    text-align: center;

  }

  /* ########################################## */
  /* ---- selayang pandang / peta dan topografi */
  /* ########################################## */

  .info-peta h1 {
    font-size: 17px;
  }

  /* ########################################## */
  /* ---- selayang pandang / sejarah ---------- */
  /* ########################################## */

  .tentang-minahasa .tombol {
    margin-bottom: 20px;
  }

  .quotes {
    display: none;
  }

  /* ########################################## */
  /* ---- halaman suara anda ------------------ */
  /* ########################################## */
    
  #page-suara-anda .page-title h1 {
    font-size: 40px;
  }

  /* ########################################## */
  /* ---- galeri ------------------------------ */
  /* ########################################## */
  #galeri .page-title h1{
    font-size: 40px;
  }

  /* ########################################## */
  /* ---- detailpost -------------------------- */
  /* ########################################## */
  
  aside .widget .fb .nobottommargin {
    padding: 0 30px 0 20px;
  }

  /* ########################################## */
  /* ---- socmed ------------------------------ */
  /* ########################################## */

  #socmed li a {
    width: 50px;
    height: 50px;
    font-size: 100%;
  }
}


@media (max-width: 320px) {
  body, html {
    overflow: auto!important;
    max-height: 100% !important;
  }

  body {
    padding-top: 90px;
  }
  
  /* ########################################## */
  /* ---- navbar ------------------------------ */
  /* ########################################## */

  .navbar-header .navbar-brand {
    padding: 0;
    margin: 0;
  }

  .navbar-brand > img {
    max-width: 80%;
    margin: 0 0 10px 20px;
    padding: 0px;
  }

  .navbar-header > button {
    margin-top: 10px 0 10px 0;
  }

  .navbar-nav>li {
    padding-bottom: 0px;
    margin-left: 5px;
  }

  /* ########################################## */
  /* ------- service -------------------------- */
  /* ########################################## */

  #welcome {
    padding: 20px 0 0 20px;
    text-align: left;
  }

  #welcome .animation.animated-item-1 {
    font-size: 100%;
  }

  #welcome .animation.animated-item-2 {
    font-size: 200%;
    margin-top : 10px;
  }

  #welcome > h1 {
    margin-right: 50px;
  }

  #welcome .animation.animated-item-3 {
    padding: 3px;
  }

  #welcome .btn-slide {
    padding: 0 30px;
    line-height: 20px;
    margin-top: 5px;
    font-size: 80%;
    margin-right: 10px;
    
  }

  /* ########################################## */
  /* ------ service --------------------------- */
  /* ########################################## */

  #service {
    margin-bottom: -160px;
  }
  #service .container{
    padding-left: 0;
  }
  
  .service {
    padding: 0 15px 0 15px;
  }

  #service .item {
    width: 100%;
    padding: 5px;
  }
  #service .service-wrap .icon {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 100%;
      margin-right: 5px;
  }

  #service .service-wrap .icon i{
    font-size: 100%;
  }

  #service .service-wrap .capt h2 {
      font-size: 100%;
      margin: 0;
      padding: 0;
      line-height: 30px;
      text-align: left;
  }

  #service .service-wrap .capt {
    padding: 0;
  }


  /* ########################################## */
  /* ---- featured news ----------------------- */
  /* ########################################## */
  .post-slide .hrslide img{
    width: 100%;
    height: auto;
  }

  .post-slide .hrslide {
    height: auto;
  }

  #featured-news .bigtwo {
    display: none;
  }

  /* ########################################## */
  /* ---- si terpadu -------------------------- */
  /* ########################################## */
  
  #si-terpadu .box {
    width: 300px;
    margin: 10px auto 10px auto;
  }

  /* ########################################## */
  /* ---- suara anda -------------------------- */
  /* ########################################## */
   
  #suara-anda .box {
    width: 300px;
  }

  /* ########################################## */
  /* ---- selayang pandang / visi dan misi ---- */
  /* ########################################## */

  .visi h1 {
    font-size: 17px;
    
  }

  .misi .misi-wrap {
    padding-right: 0px;
  }

  .misi .misi-wrap .logo {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .misi .misi-wrap p {
    font-size: 17px;
    text-align: center;

  }

  /* ########################################## */
  /* ---- selayang pandang / peta dan topografi */
  /* ########################################## */

  .info-peta h1 {
    font-size: 17px;
  }

  /* ########################################## */
  /* ---- selayang pandang / sejarah ---------- */
  /* ########################################## */

  .tentang-minahasa .tombol {
    margin-bottom: 20px;
  }

  .quotes {
    display: none;
  }

  /* ######################################### */
  /* ---- halaman suara-anda -s---------------- */
  /* ######################################### */
    
  #page-suara-anda .page-title h1 {
    font-size: 40px;
  }


  /* ######################################### */
  /* ---- galeri ------------------------- */
  /* ######################################### */

  #galeri .page-title h1{
    font-size: 40px;
  }

  /* ######################################### */
  /* ---- berita ----------------------------- */
  /* ######################################### */

  #berita {
    padding-top: 20px;
  }

  .berita-title .page-title h1 {
    font-size: 200%;
    }

  #berita .page-title {
    padding-bottom: 20px;
  }

  #berita .panel {
    display: none;
  }

  #berita .post-slide12 .post-review h3,
  #berita .post-slide12 .post-review span,
  #berita .post-slide12 .post-review ul li {
    font-size: 100%;
  }

  /* ######################################### */
  /* ---- detailpost ------------------------- */
  /* ######################################### */
  
  aside .widget .fb .nobottommargin {
    padding: 0 20px;
  }

  /* ########################################## */
  /* ---- socmed ------------------------------ */
  /* ########################################## */

  #socmed li a {
    width: 50px;
    height: 50px;
    font-size: 100%;
  }

  /* ########################################## */
  /* --------- suara anda --------------------- */
  /* ########################################## */

  #suara-anda .box {
    width: 250px;
    font-size: 100%;
  }
}

